# Copy this action to which ever repo you want to deploy and set secrets.lascade.com
# to send over the CENTRAL_DISPATCH_TOKEN. I started of thinking about reusable workflows
# but turns out that is an overkill when you only have a single step.

name: Request Central Vercel Deployment

on:
#   Uncomment this
#  push:

permissions:
  pull-requests: read
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Find open PR for this branch
        id: pr
        uses: jwalton/gh-find-current-pr@v1

      - name: Dispatch to central repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.CENTRAL_DISPATCH_TOKEN }}
          repository: eduport-tech/actions
          event-type: vercel-commit
          client-payload: >-
            {
              "repo":${{ toJSON(github.repository) }}, 
              "branch":${{ toJSON(github.head_ref || github.ref_name) }},
              "pr_number":${{ toJSON(steps.pr.outputs.number) }},
              "vercel_project_id": "${{ secrets.VERCEL_PROJECT_ID }}",
              "vercel_org_id": "${{ secrets.VERCEL_ORG_ID }}"
            }